body,h2{
    margin: 0;
}
.testinomial-grid{
    display: grid;
    width: min(95%, 70rem);
}
.testinomial-grid{
    grid-template-columns:repeat(3,1fr);
}
.flex{
    display: flex;
    gap: var(--gap,1rem);
}
.testinomial{
    padding: 2rem;
}
.testinomial img {
    aspect-ratio: 1;
    width: 1.75rem;
    border-radius: 50%;
}
.testinomial > .name{
    font-size: 0.876rem;
}
.testinomial > p:first-of-type{
    line-height: 1.2;
}