* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
    gap: 20px;
    padding: 20px;
}

article {
    display: flex;
    background-color: #f1f1f1;
    padding: 20px;
}

.item1,.item2,.item3,.item5 {
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
}

article .horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.item4, .item5, .item6 {
    border-radius: 20px;
}

p {
    padding: 0 0 0 15px;
}

.item1 {
    grid-area: 1 / 1 / 4 / 2;
    border-radius: 20px 0 20px 0;
}

.item2 {
    grid-column: 2 / 4;
    border-radius: 10px 0 10px 0;
}

.item3 {
    grid-area: 2 / 2 / 5 / 3;
    border-radius: 10px 0 10px 0;
}

.item4 {
    background-image: linear-gradient(to bottom, hsl(266.25deg 28.92% 67.45%), hsl(343 33% 50% / 1));
}

.item5 {
    grid-row: 3 / 5;
}

.item6 {
    grid-row: 4 / 5;
    background-image: linear-gradient(to bottom, hsl(64.12deg 40.16% 49.8%), hsl(233.48deg 27.38% 67.06%));
}

.white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px 6px 12px 5px;
}

@media screen and (min-width:767px) {
    .center {
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    main {
        display: flex;
        flex-direction: column;
    }
}