* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.checkbox {
    position: absolute;
    transform: translate(-50%);
    right: 100px;
    top: 0px;
    display: block;
}
input[type=checkbox] {
    visibility: hidden;
}
label{
    top: 0;
    right: 30%;
    width: 70px;
    height: 30px;
    position: absolute;
    display: block;
    border-radius: 200px;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.2), inset 0px -5px 6px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: 0.3s;
    transform: translate(150px, 50%);
    background: #555 url(./light_mode.png) no-repeat left center;
    background-size: 30px;

}
label::after{
    content: "";
    top: 2px;
    left: 1px;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background-color: #111;
    transition: 0.3s;
}
input:checked + label{
    background-color: #cecece;
}
input:checked + label::after{
    transform: translateX(40px);
    background: #fff;
}
input:checked + label + .container{
    background-color: #fff  ;
    color: #000;

}
.sun{
    position: absolute;
    top: 0;
    width: 1em;
    left: 0;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    left: 80%;
    top: 50%;
}
.moon{
    position: absolute;
    top: 0;
    width: 1em;
    left: 0;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 50%;
}
.container {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
.container > img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.items {
    display: flex;
    gap: 10px;
}
.text {
    align-self: start;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 500;
}
.left {
    transform: translateX(43px);
}
ul {
    list-style-type: none;
}
.boxes {
    border-radius: 6px;
}
.list-items-boxes {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 9px;
    transition: background-color 0.9s;
    border-radius: 5px;
}
.list-items-boxes:focus {
    background-color: purple;
}
.list-items-boxes:hover {
    outline: 2px solid #fff;
}
.bottom {
    display: flex;
    gap: 0 20px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.shopping {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(0deg , #6d28d9 50% , #d9d9d9 125%);
    box-shadow: inset 0 0 0.25rem 2px #d9d9d9;
    color: #fff;
}
p {
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.boxes::cheked {
    background-color: brown;
}