* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.checkbox {
    position: absolute;
    transform: translate(-50%);
    right: 100px;
    top: 0px;
    display: block;
}

input[type=checkbox] {
    visibility: hidden;
}
label{
    top: 0;
    right: 30%;
    width: 70px;
    height: 40px;
    position: absolute;
    display: block;
    border-radius: 200px;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.2), inset 0px -5px 6px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: 0.3s;
    transform: translate(150px, 50%);
    background: #555 url(./light_mode.png) no-repeat left center;
    background-size: 30px;

}
label::after{
    content: "";
    top: 5px;
    left: 2px;
    position: absolute;
    width: 28px;
    height: 29px;
    border-radius: 100px;
    background-color: #3a3a3a;
    transition: 0.3s;
}
input:checked + label{
    background-color: #cecece;
}
input:checked + label::after{
    transform: translateX(35px);
    background: #fff;
}
input:checked + label + .container{
    background-color: #000;
    color: #fff;

}
.container {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;
    color: #000;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.items {
    display: flex;
    gap: 10px;
}

.text {
    align-self: start;
    /* color: #fff; */
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.left {
    transform: translateX(43px);
}

ul {
    list-style-type: none;
}

.boxes {
    border-radius: 6px;
}

.list-items-boxes {
    background-color: #252525;
    color: #fff;
    border: none;
    padding: 9px;
    transition: background-color 0.9s;
    border-radius: 5px;
}

.list-items-boxes:focus {
    background-color: purple;
}

.list-items-boxes:hover {
    outline: 2px solid #fff;
}

.bottom {
    display: flex;
    gap: 0 20px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.background {
    background-image: linear-gradient(to right, #6c27d8, #fff);
    border-radius: 7px;
    padding: 5px;
}

.shopping {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: #fff;
}

p {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.boxes::cheked {
    background-color: brown;
}