* {
    box-sizing: border-box;
}

ul {
    position: absolute;
    right: 20px;
}

ul>li {
    list-style-type: none;
    float: left;
    padding: 14px 12px;
}

li>a {
    text-decoration: none;
    color: black;
}
li:hover {
    border: 1px solid black;
    border-radius: 14px;
}
nav {
    display: flex;
    align-items: center;
}
.btn {
    background-color: #191A23;
    color: #FFFFFF;
    border: none;
    border-radius: 14px;
    padding: 20px 35px 20px 35px;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
}