body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.card{
    width: 8em;
    height: 8em;
    /* font-family: serif; */
    font-size: 20px;
    font-weight: 600;
    background: #ae47ae;
    border-radius: 50%;
    box-shadow: inset -25px -25px 0px #a73dbd, 10px 10px 10px rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-style: normal;
}
.card:hover {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 15.4em;
    height: 22.9em;
    padding-top: .4em;
    padding-bottom: 1.5em;
    background-color: #171717;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: linear-gradient(270deg, #ce68d9, #45c6db, #45db79);
    background-size: 800% 800%;
    animation: AnimationName 3s linear infinite;
    transition: 0.4s ease-in-out;
  }
.card::before{
    position: relative;
    content: "Code Planet";
    text-align: center;
    color: white;
    top: 3.4em;
    left: 0.85em;
}
.card .content,.heading,button{
    opacity: 0;
}
.card:hover .heading{
    opacity: 1;
    transition: 0.8s ease-in-out;
}
.card:hover .content{
    opacity: 1;
    transition: 0.8s ease-in-out;
}
.card:hover button{
    opacity: 1;
    transition: 0.4s ease-in-out;
}
.card:hover::before{
    opacity: 0;
}
@keyframes AnimationName{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.heading{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1em;
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}
.item{
    display: flex;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4),0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    padding: 0.8em;
    margin: 0.5em;
    font-size: 0.8em;
    gap: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.item:hover{
    box-shadow: none;
    transition: 0.8s ease-in-out;
}
.item--create{
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.item--post{
    padding-left: 3em;
    padding-right: 3em;
}
.item--inspire{
    padding-left: 2.5em;
    padding-right: 2.5em;
}
button{
    border: 1px solid white;
    align-self: center;
    padding: 0.8em;
    width: 14em;
    font-weight: bold;
    background: transparent;
    color: white;
    border-radius: 10px;
}
button:hover{
    color: #000;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
}
button::before{
    content: "∞";
    font-size: 3.5em;
    position: absolute;
    opacity: 0;
    left: 1.6em;
    top: -0.33em;
}
button::after{
    content: "(Hold me)";
    opacity: 0;
    position: absolute;
    font-size: 10px;
}
button:hover::after{
    opacity: 1;
    position: relative;
}
button:active{
    scale: 1.1;
    opacity: 1;
    background: linear-gradient(90deg, #ce68d9, #45c6db, #45db79, #9f45b0, #e54ed0, #ffe4f2);
    background-size: 800% 800%;
}
.card .heading:hover{
    background: linear-gradient(to right,red,yellow,pink,purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient_668 3s infinite;
    scale: 1.2;
}
@keyframes gradient_668 {
    to{
        background-position: 200% center;
    }
}